{% extends 'main.twig' %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h2>Stample Registreringssida</h2>
    </div>
  </div>

  <div class="container">
    <form method="post" class="form-horizontal" action="/public/account/register">
      <fieldset>
        <div class="form-group">
          <input class="form-control input-lg" type="text" name="register-fname"
                 placeholder="Förnamn ex. Stefan">
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="text" name="register-sname"
                 placeholder="Efternamn ex. Folkesson">
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="email" name="register-email"
                 placeholder="Email ex.stefan.folkesson@it-gymnasiet.se">
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="password" name="register-password" placeholder="Lösenord">
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="password" name="register-password-confirm"
                 placeholder="Bekräfta Lösenord">
        </div>
        <div class="form-group">
          <input class="btn btn-primary btn-rasied" value="Registrera dig" type="submit">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}