<ul class="nav nav-tabs" id="statis">
  <li class="active"><a href="#vecka" data-toggle="tab">Vecka</a></li>
  <li><a href="#monad" data-toggle="tab">Månad</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="vecka">
    <div class="container stati">
      <div class="row">
        {% set daynames = ['Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag', 'Söndag'] %}
        {% for day in daynames %}
        {% if loop.index0 < 4 %}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        {% else %}
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        {% endif %}
            <div class="well">
              {% if user.histogram.weeks[loop.index0] is defined %}
                <p>{{ day }} {{ user.histogram.weeks[loop.index0].hours }}
                  :{{ user.histogram.weeks[loop.index0].minutes }}
                  h</p>
              {% else %}
                <p>{{ day }} 00:00h</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="monad">
      <div class="container stati">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Jan</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Feb</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Mar</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Apr</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Maj</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Jun</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Jul</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Aug</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Sep</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Okt</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Nov</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Dec</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>