<div class="">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#vecka" data-toggle="tab">Vecka</a></li>
    <li><a href="#monad" data-toggle="tab">Månad</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="vecka">
      <div class="container stati">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="well">
              <p>Mån</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="well">
              <p>Tis</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="well">
              <p>Ons</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="well">
              <p>Tor</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="well">
              <p>Fre</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="well">
              <p>Lör</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="well">
              <p class="text-danger">Sön</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="monad">
      <div class="container stati">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Jan</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Feb</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Mar</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Apr</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Maj</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Jun</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Jul</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Aug</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Sep</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Okt</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Nov</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="well">
              <p>Dec</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
