{% extends 'main.twig' %}
{% set home = true %}
{% block title %}{{ user.fname }} {{ user.sname }}s stämpelpanel{% endblock %}
{% block body %}
  </div>
  <div class="container">
    <div class="row">
      {% if user.lastCheck.checkvalue == 1 %}
        <a href="/public/account/checkin" class="btn btn-primary btn-lg col-lg-12 col-md-12 col-sm-12 col-xs-12"><h3>Stämpla
            in</h3></a>
      {% else %}
        <a href="/public/account/checkout" class="btn btn-primary btn-lg col-lg-12 col-md-12 col-sm-12 col-xs-12"><h3>
            Stämpla ut</h3></a>
      {% endif %}
    </div>
  </div>
  <div class="container">
    {% include 'account/histogram.twig' %}
  </div>

{% endblock %}
