{% extends 'main.twig' %}
{% block title %}{{ employee.fname }} {{ employee.sname }}s arbetsstatistik{% endblock %}
{% block tillbaka %}/public/admin{% endblock %}
{% block body %}
  <div class="container">
    {% include 'account/histogram.twig' %}
  </div>
{% endblock %}